@page
@model OnlineShop.Pages.Account.BasketModel
@{
    ViewData["Title"] = "Basket";
}
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

@if (Model.BasketItems.Count() != 0)
{
    <div class="row">
        <h1>Your basket</h1>
    </div>
    <div class="row">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Size</th>
                    <th class="text-center" scope="col">Price</th>
                    <th class="text-center" scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.BasketItems.Count(); i++)
                {
                    var item = Model.BasketItems[i];

                    <tr>

                        @if (item.Photos.Count() > 0)
                        {
                            <th scope="row" width="15%">
                                <a asp-page="../Collection/Detail" asp-route-productId="@item.Id">
                                    <img class="img-thumbnail" src="~/images/@item.Id/@item.Photos[0].Path" width="100%" />
                                </a>
                            </th>
                        }
                        <td class="text-center">@item.Name</td>
                        <td class="text-center">@item.Size</td>
                        <td class="text-center">@item.Price</td>
                        <td class="text-center">
                            <form method="post">
                                <input type="submit" class="btn btn-danger" value="Delete"
                                       asp-page-handler="Delete"
                                       asp-route-itemId=@Model.ItemsId[i] />
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <form method="post">
            <input type="submit" class="btn btn-primary" value="Relize order"
                   asp-page-handler="RelizeOrder"/>
        </form>
    </div>
}
else
{
<div class="row">
    <h1>Your basket is empty</h1>
</div>
}
