@using Core
@model Product


    <div class="card m-auto">
        @if (Model.Photos.Count() > 0)
        {
            <a asp-page="./Detail" asp-route-productId="@Model.Id">
                <img class="card-img-top" src="~/images/@Model.Id/@Model.Photos[0].Path" width="100%" />
            </a>
        }
            <div class="card-body">
                <h5 class="card-title text-center">@Model.Name</h5>
            </div>
            <div class="card-body d-flex justify-content-center m-auto">
                <ul class="list-group list-group-horizontal ">
                    <li class="list-group-item">@Model.Price $</li>
                    <li class="list-group-item">@Model.Size</li>
                    <li class="list-group-item">@Model.Fabric</li>
                </ul>
            </div>
        </div>
